body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    

}

.header{
    background-color: #FFFFFF;
    display: block;
    border: 1px solid #E7E9FC;
    margin-bottom: 0;   
    padding-bottom: 0;

}

a{
    text-decoration: none;
    color: #2E2F42;
    margin: 0;
    
}

ul{
  list-style: none;
  margin: 0;
 
}

footer{
    background-color: #2E2F42;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-line{
    display: flex;
    align-items: center;
 }

.main-link{
    display: block;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 24px 0 24px 156px;

}

.web-link{
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.navi{
     font-family: 'Roboto', sans-serif;
     display: flex;
     gap: 40px;
     margin-left: 76px;
     max-width: 261px;
     margin-top: 0;
     margin-bottom: 0;
}

.navi .navi-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.navi .navi-link:hover,
.navi .navi-link:focus{
    color: #404bbf;
}

.contacts{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: 156px;
    margin-top: 0;
    margin-bottom: 0;
}

.mail-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail-link:hover,
.mail-link:focus{
    color: #404BBF;
}

.tel-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  
}

.tel-link:hover,
.tel-link:focus{
    color: #404BBF;
}

.main-section-container{
    width: 1440px;
    height: 600px;
    margin-top: 0px;
    display: flex;               
    justify-content: center;     
    align-items: center;         
    min-height: 600px;           
    text-align: center;  
}

.main-section{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;

}

main h1,
main h2 {
  margin-top: 0;
}

.hero{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
    padding: 188px 472px 48px 472px;  
    gap: 48px; 
    margin: 0;
   
    
}

.button-order{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    gap: 10px;
    border-radius: 4px;
    margin-left: 636px;
    margin-right: 635px;
   
    
}

.button-order:hover,
.button-order:focus{
    background-color: #404BBF;
}

.features-section-container{
    max-width: 1158px;          
    margin: 0 auto;              
    padding: 80px 15px;  

}

.features{

}

.feature-item{
    text-align: left; 

}

.features-list{
    display: grid;               
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;                 
    padding: 0;
    list-style: none;
    margin: 0;

}

.feature-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-describe{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team-section-container{
    max-width: 1158px;          
    margin: 0 auto;
    padding: 0px 15px;
    text-align: center;
    

}

.team{
    width: 100%;                 
    background-color: #F4F4FD;   
    padding: 80px 0;
    font-family: "Roboto", sans-serif;
}

.top-team{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;

}

.team-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;

}

.team-member{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.team-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: 32px 16px auto 16px;
    
}

.team-describe{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0;
    

}

.team-photo{
    width: 100%;
    
    
}

.portfolio{
    width: 100vw;               
    background-color: #FFF;  
    padding: 80px 0;      
}

.top-portfolio{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-top: 60px;
    margin-bottom: 72px;

}

.portfolio-section-container{
    max-width: 1158px;          
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    

}

.portfolio-list{
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px;        
    padding: 0;
    margin: 0;
    list-style: none;
    

}

.portfolio-img{
    width: 360;
    height: 300;
    position: relative;        
    overflow: hidden;     
    background-color: #fff;    
    cursor: pointer;

    background-color: #fff;
    border-left: 1px solid #E7E9FC;
    border-right:1px solid #E7E9FC ;
    border-bottom: 1px solid #E7E9FC;

}

.portfolio-img img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 360px;
    height: 300px;
    object-fit: cover;
    
    
}



.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0;
    text-align: left;
    padding-top: 32px;
    padding-left: 16px;
    gap: 8px;
   
}

.portfolio-describe{
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 0;
    padding-left: 16px;
    padding-bottom: 32px;
}


.web-footer{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}
